
<div class="modal-header form-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="text-info txt-white">{{form_action}}</h3>
</div>
<div class="modal-body">
	<form id="form" name="form" class="css-form" novalidate>
	    <fieldset>
	    	<div class="container-fluid">
			    <div class="row-fluid">
			    	<div class="span12">		    		
			    		<label>Asunto</label>
			    		<input id="form_asunto" type="text" placeholder="Asunto de la tarea" class="input-block-level" data-ng-model="tarea.asunto" required>
			    	</div>
			    </div>
			    <div >
			    	<a data-ng-click="showTipo=!showTipo" data-ng-hide="showTipo">Clasificar como...
			    	</a>
			    </div>
			    <div class="row-fluid" data-ng-class="{in: showTipo, collapse: !showTipo}" ui-toggle="showTipo" id="tipo">
			    	<div class="span12">
				    	<div class="span10 span10-5">
							<label>Tipo</label>
							<div class="pull-left input-prepend">
				    			<span class="btn-group">
					    			<button class="btn dropdown-toggle" data-toggle="dropdown">
						    			<span class="caret"></span>
						    		</button>
						    		<ul class="dropdown-menu" role="menu">
						    			<li data-ng-repeat="tipo in tipos"><a class="" data-ng-click="selectTipo(tipo)">{{tipo.nombre}}</a></li>
					    			</ul>
				    			</span>
				    			<input id="form_tipo" type="text" class="input-xlarge" data-ng-model="tarea.tipo.nombre" data-ng-change="checkTipo(tarea.tipo)" placeholder="Clasificación de la tarea">
				    		</div>
				    		<div class="span1" data-ng-show="showAddTipo"><button id="save_tipo" class="btn btn-success" data-ng-click="saveTipo(tarea.tipo.nombre)"><i class="fa fa-plus icon-white"></i></button></div>
				    		<div class="span1" data-ng-show="showEditTipo"><button id="delete_tipo" class="btn btn-warning" data-ng-click="editTipo(tarea.tipo)"><i class="fa fa-pencil icon-white"></i></button></div>
				    		<div class="span1" data-ng-show="showDeleteTipo"><button id="delete_tipo" class="btn btn-danger" data-ng-click="deleteTipo(tarea.tipo)"><i class="fa fa-trash-o icon-white"></i></button></div>
				    		
			    		</div>
			    		<span class="span1"><button class="close" data-ng-click="showTipo=!showTipo">&times;</button></span>
				    	
			    	</div>
			    </div>
					<ul class="nav nav-list">
    					<li class="divider"></li>
				    </ul>    
			    <div >
			    	<a data-ng-click="showTiempo=!showTiempo" data-ng-hide="showTiempo">Tiempos, prioridad y estado...
			    	</a>

			    </div>
			    <div class="row-fluid" data-ng-class="{in: showTiempo, collapse: !showTiempo}" ui-toggle="showTiempo" id="tiempo">
			    	<div class="span12">
				    	<div class="span3" data-ng-class="{invalid: invalidDate}">
				    		<label>Inicia</label>
				    		<div id="dp_inicio" class="input-append span9 no-margin-left" >
				    			<input id="fechaInicio" type="text" class="span12" placeholder="Inicia el" ng-model="tarea.fechaInicio" data-date-format="dd/mm/yyyy" bs-datepicker data-language="es" data-unique="1" data-ng-change="changeDateEvent()">
				    			<span class="add-on" data-ng-click="clearDate('#fechaInicio', 'fechaInicio'); changeDateEvent()"><i class="fa fa-trash-o"></i></span>
				    		</div>
				    	</div>
				    	<div class="span3" data-ng-class="{invalid: invalidDate}">
				    		<label>Revisión</label>
				    		<div id="dp_revisa" class="input-append span9 no-margin-left" >
				    			<input id="fechaRevision" type="text" class="span12" placeholder="A revisar el" data-ng-model="tarea.fechaRevision" data-unique="1" data-date-format="dd/mm/yyyy" bs-datepicker data-language="es" data-ng-change="changeDateEvent()">
				    			<span id="add_on_revisa" class="add-on"  data-ng-click="clearDate('#fechaRevision', 'fechaRevision'); changeDateEvent()"><i class="fa fa-trash-o"></i></span>
				    			
				    		</div>
				    	</div>
				    	<div class="span3" data-ng-class="{invalid: invalidDate}">
				    		<label>Vence</label>
				    		<div id="dp_vence" class="input-append span9 no-margin-left" >
				    			<input id="fechaVencimiento" type="text" class="span12" placeholder="Vence el" data-ng-model="tarea.fechaVencimiento" data-unique="1" data-date-format="dd/mm/yyyy" bs-datepicker data-language="es" data-ng-change="changeDateEvent()">
				    			<span id="add_on_vence" class="add-on"  data-ng-click="clearDate('#fechaVencimiento', 'fechaVencimiento'); changeDateEvent()"><i class="fa fa-trash-o"></i></span>
				    			
				    		</div>
				    	</div>
				    	<span class="span3 no-margin-left"><button class="close" data-ng-click="showTiempo=!showTiempo">&times;</button></span>
			    	</div>
				    <div class="span12 no-margin-left">
				    	<div class="input-prepend span3">
							<label>Estado</label>
				    		<span class="btn-group">
					    		<button class="btn dropdown-toggle" data-toggle="dropdown">
					    			<span class="caret"></span>
					    		</button>
					    		<ul class="dropdown-menu" role="menu">
					    			<li><a class="" data-ng-click="tarea.estado = 'Nueva'">Nueva</a></li>
					    			<li><a class="" data-ng-click="tarea.estado = 'En Curso'">En Curso</a></li>
					    			<li><a class="" data-ng-click="tarea.estado = 'Terminada'">Terminada</a></li>
					    			<li><a class="" data-ng-click="tarea.estado = 'Cerrada'">Cerrada</a></li>
				    			</ul>
				    		</span>
				    		<input id="form_estado" type="text" class="span10" disabled data-ng-model="tarea.estado" >
				    	</div>
				    	<div class="input-prepend span3">
							<label>Prioridad</label>
							<span class="btn-group">
					    		<button class="btn dropdown-toggle" data-toggle="dropdown">
					    			<span class="caret"></span>
					    		</button>
					    		<ul class="dropdown-menu" role="menu">
					    			<li><a class="" data-ng-click="tarea.prioridad = 'Sin Apuro'">Sin Apuro</a></li>
					    			<li><a class="" data-ng-click="tarea.prioridad = 'Alta'">Alta</a></li>
					    			<li><a class="" data-ng-click="tarea.prioridad = 'Normal'">Normal</a></li>
					    			<li><a class="" data-ng-click="tarea.prioridad = 'Baja'">Baja</a></li>
					    		</ul>
				    		</span>
				    		<input id="form_prioridad" type="text" class="span10" disabled data-ng-model="tarea.prioridad"> 
				    		
				    	</div>
				    	
				    	

			    	</div>
			    </div>
			    <ul class="nav nav-list">
    					<li class="divider"></li>
				    </ul>    
			    <div>
			    	<a data-ng-click="showAsigna=!showAsigna" data-ng-hide="showAsigna">Asignar usuarios...
			    	</a>
			    </div>
			    <div class="row-fluid" data-ng-class="{in: showAsigna, collapse: !showAsigna}" ui-toggle="showAsigna" id="asigna">
			    	<div class="span12">
			    		<div class="span5 span5-5">
			    			<label>Asignados</label>
			    			<div class="input-append span12 no-margin-left">
				    			<input type="text" id="form_asigna" class="span10" placeholder="Buscar y agregar usuario como asignado" >
				    			<button class="btn" data-ng-click="agregar(usuario, id, tarea.asignados, '#form_asigna')">
				    				<i class="fa fa-plus"></i>
				    			</button>

			    			</div>
			    			<ul>
			    				<li data-ng-repeat="asignado in tarea.asignados" ui-animate>{{asignado._embedded.persona.nombres}} {{asignado._embedded.persona.apellidos}}
			    					<button class="btn btn-link" data-ng-click="remover($index, tarea.asignados)"><i class="fa fa-remove"></i></button>
			    				</li>
			    			</ul>
			    				 
			    		</div>
			    		<div class="span5 span5-5">
			    			<label>Seguidores</label>
			    			<div class="input-append span12 no-margin-left">
				    			<input type="text" id="form_sigue" class="span10" 
				    				placeholder="Buscar y agregar usuario como seguidor">
				    			<button class="btn" data-ng-click="agregar(usuario, id, tarea.seguidores, '#form_sigue')">
				    				<i class="fa fa-plus"></i>
				    			</button>
			    			</div>
			    			<ul>
			    				<li data-ng-repeat="seguidor in tarea.seguidores" ui-animate>{{seguidor._embedded.persona.nombres}} {{seguidor._embedded.persona.apellidos}}
			    					<button class="btn btn-link" data-ng-click="remover($index, tarea.seguidores)"><i class="fa fa-remove"></i></button>
			    				</li>
			    			</ul>
			    		</div>
			    		<span class="span1"><button class="close" data-ng-click="showAsigna=!showAsigna">&times;</button></span>
			    	</div>
			    </div>
			    <ul class="nav nav-list">
    					<li class="divider"></li>
				</ul>
			    <div >
			    	<a data-ng-click="showDesc=!showDesc" data-ng-hide="showDesc">Agregar descripción...
			    	</a>
			    </div>	
			    <div class="row-fluid" data-ng-class="{in: showDesc, collapse: !showDesc}" ui-toggle="showDesc" id="desc">
			    	<div class="span12">
			    		<div class="span10 span10-5">
			    			<label>Descripción</label>
			    			<textarea id="form_desc" rows="4" data-ng-model="tarea.descripcion" class="span10"></textarea>
			    		</div>
			    		<span class="span1"><button class="close" data-ng-click="showDesc=!showDesc">&times;</button></span>
			    	</div>
			    </div>	
	    	</div>
	    </fieldset>
    </form>
</div>
<div class="modal-footer">
	<a data-dismiss="modal" class="btn" data-ng-click="cleanAll()">Close</a>
	<a data-dismiss="modal" data-ng-disabled="form.$invalid" class="btn btn-success" data-ng-click="save(tarea); cleanAll();">Guardar</a>
</div>

<script type="text/javascript">
	var scope = angular.element('#form_asigna').scope();

	// jQuery('#form_inicio').datepicker('place').on('changeDate', function(ev){
	// 	if(scope.tarea.fechaVencimiento < ev.date.valueOf()){
	// 		scope.invalidDate = true;
	// 		scope.message({
	// 			"element":'#add_on_vence',
	// 			"title" : 'Fecha No Valida', 
	// 			"content" : 'La tarea vence antes de iniciar',
	// 			"timeout" : 3000,
	// 			"error" : true,
	// 			"trigger" : "manual",
	// 			"delay" : 1000,
	// 			"action" :'show'
	// 		});
	// 		scope.$apply();
	// 	} else {
	// 		scope.invalidDate = false;
	// 		scope.message({
	// 			"element":'#add_on_vence',
	// 			"action" :'destroy'
	// 		});
	// 		scope.$apply();
	// 	}
	// 	scope.tarea.fechaInicio = ev.date.valueOf();
	// })

	// jQuery('#form_vence').datepicker('place').on('changeDate', function(ev){
	// 	if(scope.tarea.fechaInicio > ev.date.valueOf()){
	// 		scope.invalidDate = true;
	// 		scope.message({
	// 			"element":'#add_on_vence',
	// 			"title" : 'Fecha No Valida', 
	// 			"content" : 'La tarea vence antes de iniciar',
	// 			"timeout" : 3000,
	// 			"error" : true,
	// 			"trigger" : "manual",
	// 			"delay" : 1000,
	// 			"action" :'show'
	// 		});
	// 		scope.$apply();
	// 	} else {
	// 		scope.invalidDate = false;
	// 		scope.message({
	// 			"element":'#add_on_vence',
	// 			"action" :'destroy'
	// 		});
	// 		scope.$apply();
	// 	}
	// 	scope.tarea.fechaVencimiento = ev.date.valueOf();
	// })

	jQuery('#form_asigna').typeaheadmap({
		"source": scope.usuarios,
		"key" : ["_embedded.persona.nombres", "_embedded.persona.apellidos"],
		"value" : "id",
		"listener": scope.selectUser
					
	});
	angular.element('#form_sigue').typeaheadmap({
		"source": scope.usuarios,
		"key" : ["_embedded.persona.nombres", "_embedded.persona.apellidos"],
		"value" : "id",
		"listener" : scope.selectUser
	});

	angular.element('#form_tipo').typeaheadmap({
		"source": scope.tipos,
		"key" : "nombre",
		"value": "id",
		"listener": scope.autocompleteTipo
	})

	

</script>