<div class="floating" alert title="titulo" message="mensaje" showon="showAlert" type="alertType" style="display: none;"></div>
<div class="row-fluid header">
	<div class="span12">
		<div class="span2 muted">
			<div class="span12 module-name lead"><b>SIG Tareas</b></div>
			<div class="span12 module-version"> <small>Version: {{tareas.data.version}}</small></div>
		</div>
		<div class="input-append span5 hidden-phone buscador">
			<form data-ng-sumbit="search(query)" class="span12">
				<input data-ng-model="query" type="search" placeholder="Buscar Tareas" class="span9">
				<button class="btn" data-ng-click="search(query)">&nbsp;<i class="fa fa-search"></i>&nbsp;</button><br>
			</form>
		</div>
		<div id="user-actions" class="span2 pull-right header-usuario dropdown">
			<div class="dropdown user-actions">
		    	<a class="dropdown-toggle" data-toggle="dropdown" data-ng-click="">
		    	<i class="fa fa-user fa-2x"></i><br>{{user._embedded.persona.nombres}} {{user._embedded.persona.apellidos}}</a>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    	<li><a data-ng-click="logout()"><i class="fa fa-sign-out"></i> Salir</a></li>
			    </ul>
		    </div>

		</div>
	</div>
</div>
<div class="container-fluid background" >
	<div class="row-fluid">
		<div class="span2 filtros" id="filtros" >
			<div class="muted"><small>Mostrar tareas:</small></div>
			<ul class="unstyled">
				<li data-ng-class="{active: isActive('todas') }" data-ng-click="changeFilter('todas')">
					
					<span class="pull-left"><a class="muted" >Todas</a></span> <span class="badge bdg-white txt-blue pull-right" data-ng-show="isActive('todas')">{{tareas.data.total}}</span>
				</li>
				<li data-ng-class="{active: isActive('propias')}" data-ng-click="changeFilter('propias')">
					
					<span class="pull-left"><a class="muted" >Propias</a></span> <span class="badge bdg-white txt-blue pull-right" data-ng-show="isActive('propias')">{{tareas.data.total}}</span>
				</li>
				<li data-ng-class="{active: isActive('asignadas')}" data-ng-click="changeFilter('asignadas')">
					
					<span class="pull-left"><a class="muted" >Asignadas</a></span> <span class="badge bdg-white txt-blue pull-right" data-ng-show="isActive('asignadas')">{{tareas.data.total}}</span>
				</li>
				<li data-ng-class="{active: isActive('seguidas')}" data-ng-click="changeFilter('seguidas')">
					
					<span class="pull-left"><a class="muted" >Seguidas</a></span> <span class="badge bdg-white txt-blue pull-right" data-ng-show="isActive('seguidas')">{{tareas.data.total}}</span>
				</li>
				<li data-ng-class="{active: isActive('papelera')}" data-ng-click="changeFilter('papelera')">
					
					<span class="pull-left"><a class="muted" >Papelera</a></span> <span class="badge bdg-white txt-blue pull-right" data-ng-show="isActive('papelera')">{{tareas.data.total}}</span>
				</li>
				
			</ul>
			<div class="span10">
				<div class="muted"><small>Con Estado:</small></div>
				<div class="offset1" data-ng-class="{activeLink: isActiveQuery('') == undefined }" >
					<i data-ng-show="isActiveQuery('') == undefined"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="$emit('filter', '')" data-toggle="tab">Cualquiera</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: isActiveQuery('Nueva')}">
					<i data-ng-show="isActiveQuery('Nueva')"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="$emit('filter', 'Nueva')" data-toggle="tab">A Iniciar</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: isActiveQuery('En Curso')}">
					<i data-ng-show="isActiveQuery('En Curso')"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="$emit('filter', 'En Curso')" data-toggle="tab">En Curso</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: isActiveQuery('Terminada')}">
					<i data-ng-show="isActiveQuery('Terminada')"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="$emit('filter', 'Terminada')" data-toggle="tab">Terminadas</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: isActiveQuery('Cerrada')}">
					<i data-ng-show="isActiveQuery('Cerrada')"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="$emit('filter', 'Cerrada')" data-toggle="tab">Cerradas</a>
				</div>
			</div>
			<div class="span10">
				<div class="muted"><small>Ordenadas por:</small></div>
				<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'asunto' }">
					<i data-ng-show="tareas.data.sortBy == 'asunto'"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="sort('asunto')">Asunto</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'fechaInicio' }">
					<i data-ng-show="tareas.data.sortBy == 'fechaInicio'"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="sort('fechaInicio')">Inicio</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'fechaVencimiento' }">
					<i data-ng-show="tareas.data.sortBy == 'fechaVencimiento'"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="sort('fechaVencimiento')">Vencimiento</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'estado' }">
					<i data-ng-show="tareas.data.sortBy == 'estado'"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="sort('estado')">Estado</a>
				</div>
				<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'prioridad' }">
					<i data-ng-show="tareas.data.sortBy == 'prioridad'"  class="fa fa-chevron-right"></i>
					<a class="muted" data-ng-click="sort('prioridad')">Prioridad</a>
				</div>
			</div>
			
		</div>

		<div class="span5 container-listado-tareas" >

			<div class="row-fluid span12 muted header-listado">
			
				<div class="span12 header-pagination">
					<pager collection="tareas"  class="span9 pagination pagination-small"/>
					<ng-switch on="filtro">
						<div ng-switch-when="papelera" class="span3 pull-right boton-nueva">
							<a class="btn btn-small btn-danger pull-right" id="vaciar"  bs-modal="'./ng-views/partials/confirmVaciarPapelera.html'" ><i class="fa fa-trash-o"></i>  Vaciar</a>
						</div>
						<div ng-switch-default class="span3 pull-right boton-nueva">
							<a class="btn btn-small pull-right" id="nueva" data-ng-click="nuevaTarea(tareaSuperior)" data-toggle="modal" data-target="#edit"><i class="fa fa-plus"></i>  Nueva</a>
						</div>
					</ng-switch>
					<div class="span11" data-ng-show="navigation">
						<span><small>Viendo Subtareas de:</small></span>
						<ul class="breadcrumb">
							<li><a data-ng-click="changeFilter(filtro)"><i class="fa fa-reply"></i></a> <span class="divider">/</span></li>
							 <li data-ng-repeat="crumb in navigation"><a data-ng-click="addCrumb(crumb)">#{{crumb.id}}</a> <span class="divider">/</span></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row-fluid span12 listado-tareas" >
				<div class="row-fluid" data-ng-repeat="tarea in tareas._embedded.collection | filter: query | orderBy: sortBy" >
					<div id="tarea{{tarea.id}}" data-tooltip data-title="{{tarea.asunto}}" class="hoverDiv item-tareas" data-ng-mouseenter="showButtons=true" data-ng-mouseleave="showButtons=false" data-ng-class="{'item-tareas-selected': (detalle.id == tarea.id)}">
						<div class="span1 container-listado-estado txt-white">
							<div class="{{(tarea.estado | lowercase).split(' ').join('')}}">&nbsp;</i></div>
							<div class="{{(tarea.prioridad | lowercase).split(' ').join('')}}">&nbsp;</i></div>
						</div>
						<div class="row-fluid span11">
							<div class="row-fluid span11 container-listado-titulo">
								<span id="numero-tarea" class="numero-tarea muted"><small>#{{tarea.id}}</small></span>
								<span id="titulo-tarea-{{tarea.id}}" class="listado-titulo has-tooltip muted" ><a href="" data-ng-click="verDetalleTarea(tarea)">{{tarea.asunto | cut:false:60}}</a></span>
							
						</div>
						
							<div class="span12 container-listado-datos" style="margin-left: 2px;">
								<span class="muted"><small><i class="fa fa-user"></i> {{tarea._embedded.responsable.username}} | </small></span>
								<span class="muted" data-ng-show="tarea.fechaInicio"><small><i class="fa fa-calendar"></i> I: {{tarea.fechaInicio | date:'dd/MM/yy'}}</small></span>
								<span class="muted" data-ng-hide="tarea.fechaInicio"><small><i class="fa fa-calendar"></i> S/I</small></span>
								<span class="muted" data-ng-show="tarea.fechaVencimiento"><small> - R: {{tarea.fechaRevision | date:'dd/MM/yy'}}</small></span>
								<span class="muted" data-ng-hide="tarea.fechaVencimiento"><small> - S/R</small> </span> 
								<span class="muted" data-ng-show="tarea.fechaVencimiento"><small> - V: {{tarea.fechaVencimiento | date:'dd/MM/yy'}}</small></span>
								<span class="muted" data-ng-hide="tarea.fechaVencimiento"><small> - S/V</small> </span> 
								<span class="muted" data-ng-show="tarea._embedded.tipo"> | <small> <i class="fa fa-tag"></i>  {{tarea._embedded.tipo.nombre | cut:false:22}} </small></span>
								<a link-subtareas filtro="filtro" tarea="tarea"></a>
								
							</div>
						</div>
					
					</div>
				</div>
				<pager collection="tareas"  class="span9 pagination pagination-small footer-listado"/>
			</div>
		</div>
		<div id="detalle" class="span5 container-tarea-detalle" data-ng-show="detalle" data-ng-include src="'./ng-views/detalle.html'" >
		</div>
	</div>
</div>

	<div data-ui-modal class="form fade slide left" data-ng-model="modal" id="edit">
		<ng-switch on="form">
			<div ng-switch-when="seguimiento" data-ng-include src="'./ng-views/seguimiento.html'" data-ng-controller="SeguimientoCtrl">
			</div>
			<div ng-switch-default data-ng-include src="'./ng-views/form.html'" data-ng-controller="FormTareaCtrl">
			</div>
		</ng-switch>
	</div>

		
</div>
