<div class="container-fluid">
	<div class="container">
		
			<!--Sidebar content-->
			<div class="span8 offset2" style="margin-top:10px;">
				<input ng-model="query" type="search" placeholder="Buscar Tareas" class="input-xxlarge">
			</div>

	</div>

	<div class="row-fluid" style="margin-top:25px;">
		<!--Body content-->
		<div class="offset1 span8" >
			<div class="pagination">
				<ul>
					<li><a ng-href="#{{tareas._links.next}}">Next</a></li>
				</ul>
			</div>
			
			<div class="row-fluid hoverDiv" ng-repeat="tarea in tareas._embedded.collection | filter: query | orderBy: orderProp">

				<div class="row-fluid">
					<div class="span4">{{tarea.asunto}}</div>
					<div class="span2 muted">{{tarea.fechaInicio | date:mediumDate}}</div>
					<div class="span1">{{tarea.estado}}</div>
				</div>
				<div class="row-fluid">
					<div class="span4 muted">{{tarea.descripcion}}</div>
					<div class="span2 muted">{{tarea.fechaVencimiento |	date:mediumDate}}</div>
					<div class="span1">{{tarea.prioridad}}</div>
					<div class="span2">
						<a ng-href="#{{tarea._links.self.href}}"><i class="icon-eye-open icon-large"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="span2">
			Sort By: <select ng-model="orderProp">
				<option value="asunto">Alfabetico</option>
				<option value="fechaInicio">Reciente</option>
			</select>
		</div>
	</div>
</div>
