<div class="floating" alert title="titulo" message="mensaje" showon="showAlert" type="alertType" style="display: none;"></div>
<div class="row-fluid header">
	<div class="span12">
		<div class="span2 muted lead "><h3 class="module-name">SIG Tareas</h3></div>
		<div class="input-append span9 hidden-phone buscador">
			<input data-ng-model="query" type="search" placeholder="Buscar Tareas" class="span7">
			<button class="btn" data-ng-click="search(query)">&nbsp;<i class="icon-search"></i>&nbsp;</button><br>
		</div>	
	</div>
				<!-- <div class="row-fluid hidden-phone">
					
					
				</div> -->
</div>
<div class="container-fluid">
	
	<div class="row-fluid">
		<div class="filtros">
			<ul class="unstyled">
				<li data-ng-class="{active: isActive('') == undefined}">
					<i data-ng-show="isActive('') == undefined" class="icon-chevron-right icon-white"></i>
					<a class="muted" data-ng-click="$emit('filter', '')">Todas</a>
				</li>
				<li data-ng-class="{active: isActive('Nueva')}">
					<i data-ng-show="isActive('Nueva')"  class="icon-chevron-right icon-white"></i>
					<a class="muted" data-ng-click="$emit('filter', 'Nueva')">A Iniciar</a>
				</li>
				<li data-ng-class="{active: isActive('En Curso')}">
					<i data-ng-show="isActive('En Curso')" class="icon-chevron-right icon-white"></i>
					<a class="muted" data-ng-click="$emit('filter', 'En Curso')">En Curso</a>
				</li>
				<li data-ng-class="{active: isActive('Terminada')}">
					<i data-ng-show="isActive('Terminada')" class="icon-chevron-right icon-white"></i>
					<a class="muted" data-ng-click="$emit('filter', 'Terminada')">Terminadas</a>
				</li>
				<li data-ng-class="{active: isActive('Cerrada')}">
					<i data-ng-show="isActive('Cerrada')"  class="icon-chevron-right icon-white"></i>
					<a class="muted" data-ng-click="$emit('filter', 'Cerrada')">Cerradas</a>
				</li>
			</ul>
			<div class="span12 offset1">
						<div class="muted"><small>Ordenar por:</small></div>
						<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'asunto' }">
							<i data-ng-show="tareas.data.sortBy == 'asunto'"  class="icon-chevron-right"></i>
							<a class="muted" data-ng-click="sort('asunto')">Asunto</a>
						</div>
						<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'fechaInicio' }">
							<i data-ng-show="tareas.data.sortBy == 'fechaInicio'"  class="icon-chevron-right"></i>
							<a class="muted" data-ng-click="sort('fechaInicio')">Inicio</a>
						</div>
						<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'fechaVencimiento' }">
							<i data-ng-show="tareas.data.sortBy == 'fechaVencimiento'"  class="icon-chevron-right"></i>
							<a class="muted" data-ng-click="sort('fechaVencimiento')">Vencimiento</a>
						</div>
						<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'estado' }">
							<i data-ng-show="tareas.data.sortBy == 'estado'"  class="icon-chevron-right"></i>
							<a class="muted" data-ng-click="sort('estado')">Estado</a>
						</div>
						<div class="offset1" data-ng-class="{activeLink: tareas.data.sortBy == 'prioridad' }">
							<i data-ng-show="tareas.data.sortBy == 'prioridad'"  class="icon-chevron-right"></i>
							<a class="muted" data-ng-click="sort('prioridad')">Prioridad</a>
						</div>
					</div>

		</div>
		<div class="span10">
			<!-- 
			<div class="row-fluid offset1 span8">
				<span style="margin-bottom: 0px" class="span4 lead muted">
					<small>Cambios Recientes:</small>
				</span>
			</div> 
				
			<div class="row-fluid offset1 span8 listado-tareas"  >
					<div class="row-fluid" data-ng-repeat="tarea in tareasRecientes" >
					
						<div id="tarea{{tarea.id}}" class="hoverDiv item-tareas" data-toggle="collapse" data-ng-href="#desc{{tarea.id}}" data-ng-mouseenter="showButtons=true" data-ng-mouseleave="showButtons=false">
							<div class="row-fluid span12">
								<span id="titulo-tarea-{{tarea.id}}"  class="lead has-tooltip txt-blue" data-tooltip data-title="{{tarea.asunto}}">{{tarea.asunto | cut:false:50}}  </span>
							
								<span data-ng-class="{label : tarea.estado}" class="{{(tarea.estado | lowercase).split(' ').join('')}}">
									{{tarea.estado}}
								</span>
								<span data-ng-class="{label : tarea.prioridad}" class="{{(tarea.prioridad | lowercase).split(' ').join('')}}">
									{{tarea.prioridad}}
								</span>
								<span class="badge" data-ng-show="tarea._embedded.tareasRelacionadas">{{tarea._embedded.tareasRelacionadas.length}}</span>
								
							</div>
							<div class="span12" style="margin-left: 2px;">
								<span class="muted" data-ng-show="tarea.fechaInicio"><small>{{tarea.fechaInicio | date:mediumDate}}</small></span>
								<span class="muted" data-ng-hide="tarea.fechaInicio"><small>Sin definir</small></span>
								<span class="muted" data-ng-show="tarea.fechaVencimiento"><small> - {{tarea.fechaVencimiento | date:mediumDate}}</small></span>
								<span class="muted" data-ng-hide="tarea.fechaVencimiento"><small> - Sin definir</small></span>
								<span class="muted" data-ng-show="tarea._embedded.tipo"><small> - {{tarea._embedded.tipo.nombre}}</small></span>
								<span class="muted" data-ng-hide="tarea._embedded.tipo"><small> - Sin definir</small></span>
								<div class="pull-right" data-ng-show="showButtons" >
									<div taskbuttons item="tarea" edit="editarTarea(tarea)" addsub="nuevaTarea(tarea)"></div>
								</div>

							</div>
							
							
							<div class="row-fluid collapse" id="desc{{tarea.id}}">
								<div class="span5" data-ng-show="tarea._embedded.asignados">
									Asignados: 
									<span class="muted" data-ng-repeat="asignado in tarea._embedded.asignados">{{asignado._embedded.persona.nombres}} {{asignado._embedded.persona.apellidos}}, </span>

								</div>
								<div class="span5" data-ng-show="tarea._embedded.asignados">
									Seguidores:
									<span class="muted" data-ng-repeat="seguidor in tarea._embedded.seguidores">{{seguidor._embedded.persona.nombres}} {{seguidor._embedded.persona.apellidos}}, </span>
								</div>
							<div class="span12 muted">{{tarea.descripcion}}</div>
						</div>
							
					</div>
										
				</div>
					
			</div>-->
			<div class="row-fluid span8 lead muted header-listado">
				<div class="span4"><small>{{tareas.data.total}} Tareas en esta vista</small></div>
				<div class="span8">
						<a class="btn btn-primary pull-right" id="nueva" data-ng-click="nuevaTarea()" data-toggle="modal" data-target="#edit">Nueva</a>
				</div>
			</div>
			
			<div class="row-fluid span8 listado-tareas"  >
				<div class="row-fluid" data-ng-repeat="tarea in tareas._embedded.collection | filter: query | orderBy: orderProp" >
					
					<div id="tarea{{tarea.id}}" class="hoverDiv item-tareas" data-ng-mouseenter="showButtons=true" data-ng-mouseleave="showButtons=false">
						<div class="row-fluid span12">
							<span id="titulo-tarea-{{tarea.id}}"  class="lead has-tooltip txt-blue" data-tooltip data-title="{{tarea.asunto}}">{{tarea.asunto | cut:false:50}}  </span>
						
							<span data-ng-class="{label : tarea.estado}" class="{{(tarea.estado | lowercase).split(' ').join('')}}">
								{{tarea.estado}}
							</span>
							<span data-ng-class="{label : tarea.prioridad}" class="{{(tarea.prioridad | lowercase).split(' ').join('')}}">
								{{tarea.prioridad}}
							</span>
							<span class="badge" data-ng-show="tarea._embedded.tareasRelacionadas">{{tarea._embedded.tareasRelacionadas.length}}</span>
							
						</div>
						<div class="span12" style="margin-left: 2px;">
							<span class="muted" data-ng-show="tarea.fechaInicio"><small><i class="icon-calendar"></i> {{tarea.fechaInicio | date:mediumDate}}</small></span>
							<span class="muted" data-ng-hide="tarea.fechaInicio"><small><i class="icon-calendar"></i> Sin Inicio</small></span> 
							<span class="muted" data-ng-show="tarea.fechaVencimiento"><small> - {{tarea.fechaVencimiento | date:mediumDate}}</small></span>
							<span class="muted" data-ng-hide="tarea.fechaVencimiento"><small> - Sin Vencimiento</small></span> | 
							<span class="muted" data-ng-show="tarea._embedded.tipo"><small><i class="icon-tags"></i>  {{tarea._embedded.tipo.nombre}}</small> | </span>
							<span><small><collapse-link element-id="#desc{{tarea.id}}"></collapse-link></small>
							</span>
							<div class="pull-right" data-ng-show="showButtons" >
								<div taskbuttons item="tarea" edit="editarTarea(tarea)" addsub="nuevaTarea(tarea)" addseg="nuevoSeguimiento(tarea)"></div>
							</div>

						</div>
							
							
						<div class="row-fluid collapse" id="desc{{tarea.id}}">
							<div class="span5" data-ng-show="tarea._embedded.asignados">
									Asignados: 
									<span class="muted" data-ng-repeat="asignado in tarea._embedded.asignados">{{asignado._embedded.persona.nombres}} {{asignado._embedded.persona.apellidos}}, </span>

							</div>
							<div class="span5" data-ng-show="tarea._embedded.asignados">
									Seguidores:
									<span class="muted" data-ng-repeat="seguidor in tarea._embedded.seguidores">{{seguidor._embedded.persona.nombres}} {{seguidor._embedded.persona.apellidos}}, </span>
							</div>
							<div class="span12 muted">{{tarea.descripcion}}</div>
							<div class="span12 muted" data-ng-repeat="seguimiento in tarea._embedded.seguimientos">
								<div class="span9">{{seguimiento.titulo}}</div>
								<div class="span2">{{seguimiento.fecha}}</div>
								<div class="span12">{{seguimiento.descripcion}}</div>
							</div>
						</div>
							
					</div>
										
				</div>
					
			</div>
			
			
				
				<pager collection="tareas"/>


			</div>
		</div>
		

	</div>

	<div data-ui-modal class="form fade slide left" data-ng-model="modal" id="edit">
		<ng-switch on="form">
			<div ng-switch-when="seguimiento" data-ng-include src="'./ng-views/seguimiento.html'" data-ng-controller="SeguimientoCtrl">
			</div>
			<div ng-switch-default data-ng-include src="'./ng-views/form.html'" data-ng-controller="FormTareaCtrl">
			</div>
		</ng-switch>
	</div>

	
</div>
