<form class="row-fluid form-login" action="" data-ng-controller="LoginCtrl">
	<div class="offset4 span4 login">
		<div class="offset0 login-title">
			<h1 class="txt-orange">
				SIG
			</h1>
			<h5 class="muted">
				MODULO DE TAREAS
			</h5>
		</div>
		<div class="offset3">
			<input name="username" data-ng-model="username" placeholder="Nombre de Usuario" class="span8" type="text">
			<input name="password" data-ng-model="password" placeholder="Contraseña" class="span8 no-margin-left" type="password">
		</div>
		<div class="alert alert-info" data-ng-hide="loginError"><i class="icon-info-sign"></i> Ingrese nombre de usuario y contraseña para acceder</div>
	  	<div class="alert alert-error" data-ng-show="loginError"> Usuario o Password Incorrectos</div>
	  	<div class="form-actions">
	  		<div class="span7"> <h6><a href="mailto:jfarina@frd.utn.edu.ar"><i class="icon-envelope-alt"></i>  CONTACTAR AL ADMINISTRADOR</a></h6></div>
	    	<div class="span4"><button class="btn btn-primary pull-right" data-ng-click="login()"> Acceder <i class="icon-signin"></i></button></div>
	  	</div>
	</div>
</form>