
.hoverDiv {
	background: #fff;
	
}


.hoverDiv:HOVER {
	background: #F6F4EA;
	/*background: #fffce2;*/
}


.activeLink, .activeLink a{
	font-weight: bolder;
	text-transform: uppercase;
	color: #ff6624;
	
	
}

.sort_fields {
	margin-right: 6px;

}
.hide{
	display: none;
}

.header{
	background-color: #f1f1f1;
	padding-top: 10px;
	border-bottom: solid 1px #eaeaea;
}

.module-name{
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	color: #ddd;
	margin: 0px;
}

.buscador{
	padding-top: 6px;

}

.header-listado{
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	
}

.header-tabs{
	margin-left: 0px !important;
	height: 20px;

	/** GRADIENTE */
	background: rgb(246,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(228,228,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */


}

.header-listado .header-tabs .nav-tabs{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 10pt;
	font-weight: bold;
	
}


.header-listado .header-tabs .nav-tabs li a{
	padding-top: 4px;
	padding-bottom: 4px;
	color: #aaa;
}

.header-listado .header-tabs .nav-tabs li.active a{
	color: #555;
}

.row-fluid .header-listado:first-child {
	margin-left: 0px !important;
}

.header-listado .pagination{
	margin-top:0px;
	margin-bottom: 0px;
	padding-top: 5px;
}

.header-pagination{
	margin-left: 0px !important;
	border-bottom: solid 1px #ddd ;
}

.header-pagination .pagination{
	margin-left: 5px !important;
}

.header-usuario{
	text-align: center;
}

.boton-nueva{
	padding-top: 5px;
	margin-right: 5px;
}

.filtros{
	margin-top: 20px;
	-moz-box-sizing: border-box;
    display: block;
    float: left;
	width: 12%;
	margin-left: -20px;
}


.filtros ul li{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}

.filtros ul li:hover{
	background-color: #eaeaea;
}

.filtros ul li.active{
	background-color: #ff6624;
	color: white;
}

.filtros ul li a:hover{
	text-decoration: none;
}

.filtros ul li.active a{
	color: white;
}

.seguimiento{
	background-color: rgba(0,0,0,0.05);
	border-radius: 2px;
	margin-top: 6px;
}

.seguimiento:hover{
	background-color: rgba(0,0,0,0.15);
}

.seguimiento:hover .muted{
	color: black;
}

.seguimiento:hover .titulo_seguimiento, .seguimiento:hover .fecha_seguimiento {
	color: #049cdb;
}

.titulo_seguimiento{
	font-weight: bold;
	padding-left: 5px;
}

.fecha_seguimiento{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.listado-estado{
	padding-left: 4px;
}

.listado-descripcion{
	padding-left: 6px;
	padding-top: 5px;
}

.numero-tarea{
	vertical-align: text-bottom;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #EEEEEE;
    cursor: pointer;
}

.edited{
	background-color: #FCF8E3;
}

.created{
	background-color: #DFF0D8;
}

.deleted{
	background-color: #EED3D7;
}


/*----BOOTSTRAP -----*/

.row-fluid .header-listado:first-child{
	margin-left: 2.5%;
}

.pagination.page0 ul:first-child{
	border-left: 1px solid #dddddd;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*--- Labels ----*/

.label {
	margin-left: 5px;
	vertical-align: text-top;
}

.badge {
	margin-left: 5px;
	vertical-align: text-top;	
}

.bdg-white {
	background-color: rgba(255,255,255,0.4);
}

.nueva {
	background-color: #049cdb;
}

.cerrada {
	background-color: #f89406;
}

.encurso {
	background-color: #7a43b6;
}

.terminada {
	background-color: #46a546;
}

.alta {
	background-color: #9d261d;	
}

.normal {
	background-color: #f89406;	
}

.baja {
	background-color: #46a546;	
}

/*----MODALS----*/

.modal-body {
	max-height: 500px;
	height: 500px;
}

.form {
	width: 55%;
	top: 1%;
	/*-moz-margin-top: -24%;
	-webkit-top: 40%;*/
}

.modal.fade{
	top:1%;
}

.modal.fade.in{
	top:1%;
}

.modal.slide.left {
  	left: 100%;

  	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.slide.down {
  	top: -25%;

  	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;	
}

.modal.slide.left.in {
  	left: 65%;
}

.modal.slide.down.in{
	top: 50%;
}

.modal-backdrop.fade.in{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.modal-backdrop.slide.in{
	opacity: 0.3;
	filter: alpha(opacity=30);
}



/*----DATEPICKER----*/
.datepicker {
	z-index: 3000;

}


/*---SPANS-----*/
.span2.span2-5 {
	width: 17.53%;
}

.span5.span5-5 {
	width: 43.171%;
}

.span10.span10-5 {
	width: 88.906%;
}

.span11.span11-5{
	width: 94.5%;
}

/*---COLORS---*/

.txt-blue {
	color: #049cdb;
}

.txt-white {
	color: white;
}

.invalid {
	color: #DA4F49;
}

.txt-orange {
	color: #FF6624;
}

/*---TYPEAHEAD---*/
.typeahead {
	z-index: 3000;
}

.dropdown-menu {
	z-index: 9001;
}

/*----UI-ANIMATE----*/
li {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

/* The 'hidden' state to transition from & to */
li.ui-animate {
	background: white;
	opacity: 0;
	max-height: 0;
	padding: 0 5px;
}


/*----UI-HIDE / UI-SHOW----*/
.ui-show {
	transition: all 0.5s ease; // You should probably browser-prefix this
}
.ui-hide {
	opacity: 0;
	transition: all 0.5s ease; // You should probably browser-prefix this
	display: none;
}

.hide{
	display: none;
}
/*----ALERTS-----*/

.floating{
	position: fixed;
	top: 0px;
	z-index: 3000;
	width: 1309px; /* Para Chrome */
	width: -moz-available;/* Para Firefox */
}

/*----POPOVER----*/

.popover{
	z-index: 9999;
}

.popover-title{
	padding-top: 0px;
	padding-bottom: 0px;
}

.title-success{
	color: #5BB75B;
	font-weight: bold;
}

.title-error{
	color: #DA4F49;
	font-weight: bold;
}

.container-listado-tareas{
	border: solid 1px #e5e5e5;
	border-radius: 4px;
	margin-top: 5px;
}

.listado-tareas{
	margin-left: 0px !important;
}



.item-tareas{
	border-bottom: solid 1px #e5e5e5;
	padding-top: 3px;
	padding-bottom: 3px;
}

.listado-titulo{
	font-size: 13pt;
	font-weight: bold;
}

.row-fluid.span12.container-listado-titulo{
	min-height: 0px;
	height: 22px;
	padding-top: 3px;
	padding-bottom: 4px;

}

.span12.listado-estado{
	min-height: 0px;
	height: 25px;

}

.row-fluid.span12.

.cliptext{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*----- DIRECTIVES ------*/
.task-buttons{
	margin-right: 20px;
}

.task-buttons .drop{
	border-right-width: 0px;
}