
.hoverDiv {
	background: #fff;
	
}

.hoverDiv:HOVER {
	background: #f5f5f5
}

.activeLink {
	font-weight: bolder;
	text-transform: uppercase;
	
}

.sort_fields {
	margin-right: 6px;

}

/*--- Labels ----*/

.label {
	margin-right: 6px;
}

.nueva {
	background-color: #049cdb;
}

.cerrada {
	background-color: #f89406;
}

.encurso {
	background-color: #7a43b6;
}

.terminada {
	background-color: #46a546;
}

.alta {
	background-color: #9d261d;	
}

.normal {
	background-color: #f89406;	
}

.baja {
	background-color: #46a546;	
}

/*----MODALS----*/


.form {
	width: 50%;
	margin-top: -21%;
}

.modal.slide.left {
  	left: 100%;

  	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.slide.down {
  	top: -25%;

  	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;	
}

.modal.slide.left.in {
  	left: 67%;
}

.modal.slide.down.in{
	top: 50%;
}

.modal-backdrop.fade.in{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.modal-backdrop.slide.in{
	opacity: 0.3;
	filter: alpha(opacity=30);
}



/*----DATEPICKER----*/

.datepicker {
	z-index: 3000;
}