<div class="confirm-modal">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Eliminar Tarea</h3>
</div>
<div class="modal-body ">
<p>Esta acción eliminara la tarea y sus subtareas del listado pero no del sistema.
    	Podra consultarla accediendo a la papelera.
    	¿Confirma que desea enviar esta tarea a la papelera?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn pull-left" data-dismiss="modal">Cancelar</button>
	<button class="btn btn-danger" ng-click="borradoLogico(detalle)" data-dismiss="modal">Borrar</button>
</div>
</div>