<div class="confirm-modal">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Vaciar Papelera</h3>
</div>
<div class="modal-body ">
<p>Se procedera a eliminar todas las tareas que se encuentran en la papelera.
    	Esta acción es permanente y no puede deshacerse.
    	¿Confirma que desea realizar esta eliminación?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn pull-left" data-dismiss="modal">Cancelar</button>
	<button class="btn btn-danger" data-ng-click="vaciarPapelera()" data-dismiss="modal">Borrar</button>
</div>
</div>